*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.intro{
	background: #EAF0F1;
}
h1{
	color: #6f37a1;
	font-weight: bold;
	transition: 0.5s;
	text-align: center;
}
h3{
	color:#000000;
}

button{
	border:none;
	border-radius: 8px;
	padding: 10px;
	background:#6f37a1;
	color:white;
	letter-spacing: 1.5px;
	font-size: 15px;
	transition: 0.5s;
}
button:hover,h1:hover{
	transform: scale(1.1);
}
button:hover{
	background-color:#8c53bd;
}
footer{
	color:#211d24;
	background-color:white;
	letter-spacing: 0.5px;
}
footer p{
	margin: 0;
	font-size: 15px;
}
.im{
	width: 180px;
	height: 180px;
}
.action{
	text-align: center;
	text-decoration: underline;
	font-family: 'Roboto Slab', serif;
}

.flexbox {
    display: flex;
    justify-content: space-around;
}

@media only screen and (orientation:portrait){
	.intro{
		display:flex;
		flex-direction: column-reverse;
	}
	h1{
		font-size: 40px;
	}
	.act{
		padding-bottom: 100px;
	}

}
